.ui-header{
    background-color: #0071bc;
}
.ui-content{
    /* remove white space under header */
    margin-top: -30px;
}
h1{
   
}
#tab_bar{
    background-color: #00548d;
    width:100%;
}
#tab_container{
    height:30px;
    width:300px;
    margin:auto;
}
.tab_button{
    text-align: center;
    padding-top: 5px;
    height:25px;
    width:100px;
    float:left;
    overflow:hidden;
    background-color: #00548d;
    -webkit-transition: all .5s ease-in-out;
    color:#99b6c9;
}
.tab_button:hover{
    background-color: #000058;
    color: white;
}