.ui-header{
    
}
.ui-content{
    /* remove white space under header */
    margin-top: -30px;
}
hr{
    color: white;
    background-color: white;
    height: 1px;
}
h1{
   
}
#tab_bar{
    height:30px;
}
.tab_button{
    width:100px;
    float:left;
    overflow:hidden;
}